# **School District Aid Data**

# Dataset Cleaning

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import datetime

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Lottery_Aid_to_Education__Beginning_2002 (3).csv to Lottery_Aid_to_Education__Beginning_2002 (3).csv

In [ ]:
df = pd.read_csv("Lottery_Aid_to_Education__Beginning_2002 (3).csv")
df

       Beginning Fiscal Year  ...   Amount of Aid
0                       2002  ...     7,242,297.04
1                       2002  ...       874,046.94
2                       2002  ...     2,786,954.71
3                       2002  ...     1,820,297.94
4                       2002  ...       241,859.93
...                      ...  ...              ...
12267                   2019  ...     1,460,861.27
12268                   2019  ...     1,539,093.10
12269                   2019  ...       197,556.57
12270                   2019  ...     1,116,357.36
12271                   2019  ...     1,092,517.89

[12272 rows x 5 columns]

In [ ]:
df_copy = df.copy()

#remove School District and Ending Fiscal Year
df_copy = df_copy.drop(columns=['School District', 'Ending Fiscal Year'])

#assign 'Beginning Fiscal Year' from int64 to datetime
df_copy['Beginning Fiscal Year'] = pd.to_datetime(df_copy['Beginning Fiscal Year'], format='%Y')

#remove spaces from "Amount of Aid" column name 
df_copy = df_copy.rename(columns = {' Amount of Aid ':'Amount of Aid'})

#rename the misspelled county name 'Saint Lawrence' with 'St Lawrence'
df_copy['County'] = df_copy["County"].replace({'Saint Lawrence':'St Lawrence'})

#groupy by county and year, sum aid amounts, and return a dataframe
df_copy = df_copy.groupby(['County', 'Beginning Fiscal Year']).sum().reset_index()


#add Year column
df_copy["Year"] = pd.to_datetime(df_copy["Beginning Fiscal Year"]).dt.year

#df_copy.info() #---->(1044, 4) dataframe (18 years x 58 NYcounties=1044)
df_copy['County'].unique()

array(['Albany', 'Allegany', 'Broome', 'Cattaraugus', 'Cayuga',
       'Chautauqua', 'Chemung', 'Chenango', 'Clinton', 'Columbia',
       'Cortland', 'Delaware', 'Dutchess', 'Erie', 'Essex', 'Franklin',
       'Fulton', 'Genesee', 'Greene', 'Hamilton', 'Herkimer', 'Jefferson',
       'Lewis', 'Livingston', 'Madison', 'Monroe', 'Montgomery', 'Nassau',
       'New York City', 'Niagara', 'Oneida', 'Onondaga', 'Ontario',
       'Orange', 'Orleans', 'Oswego', 'Otsego', 'Putnam', 'Rensselaer',
       'Rockland', 'Saratoga', 'Schenectady', 'Schoharie', 'Schuyler',
       'Seneca', 'St Lawrence', 'Steuben', 'Suffolk', 'Sullivan', 'Tioga',
       'Tompkins', 'Ulster', 'Warren', 'Washington', 'Wayne',
       'Westchester', 'Wyoming', 'Yates'], dtype=object)

In [ ]:
df_copy2019 = df_copy[(df_copy['Year'].isin([2018,2019]))]
df_copy2019 = df_copy2019.rename(columns = {'County':'county_name'})

#df_copy2019.info() #---->(116,4) dataframe (2 years x 58 NYcounties=1044)

In [ ]:
df_rank_2018copy = df_rank_2019.copy()
df_rank_2019copy = df_rank_2020.copy()

#assign years to each row
df_rank_2018copy['Year']= 2018
df_rank_2019copy['Year']= 2019

#select relevant columns for new database
df_rank_2019copy = df_rank_2019copy.iloc[: , [2,26,16,19,11,12,13,18]]
df_rank_2018copy = df_rank_2018copy.iloc[: , [2,26,16,19,11,12,13,18]]

#already checked that columns are the same, so will merge
df_rank_combine = pd.concat([df_rank_2018copy, df_rank_2019copy])

#rename the misspelled county name 'St. Lawrence' with 'St Lawrence'
df_rank_combine["county_name"] = df_rank_combine["county_name"].replace({'St. Lawrence':'St Lawrence'})

In [ ]:
#Keep only counties in NYC
county_nyc=['New York','Kings','Bronx','Richmond','Queens']
NYCrank=df_rank_combine[df_rank_combine['county_name'].isin(county_nyc)]

In [ ]:
d2019 = {'county_name': ['New York','Kings','Bronx','Richmond','Queens'],
         'Year':[2019,2019,2019,2019,2019],
         'Pop_25_44_2019': [595749,828246,407631,123892,666351],
         'county_pop_2019': [1628706,2559903,1418207,476143,2253858],
         'receive_lunch_aid2019':[108039, 231919,183034,34637,196515]}
df_pop2019 = pd.DataFrame(data=d2019)
df_p2019c = pd.merge(df_pop2019, NYCrank, on=['county_name','Year'])

df_p2019c['Total_some_college'] = df_p2019c['%some_college']*df_p2019c['Pop_25_44_2019']/100
df_p2019c['Total_food_insecure'] = df_p2019c['%food_insecure']*df_p2019c['county_pop_2019']/100
df_p2019c['Total_lunch_aid'] = df_p2019c['%lunch_aid']*df_p2019c['receive_lunch_aid2019']/100
df_p2019c = df_p2019c.iloc[: , [2,3,4,7,10,11,12,13]]
df_p2019c.loc['Total2019']= df_p2019c.sum()
df_p2019c['county_name'] = "New York City"
df_p2019c['Year'] = 2019
df_p2019c.reset_index()
df_p2019c = df_p2019c.drop(labels=[0,1,2,3,4], axis=0)


df_p2019c['%food_insecure'] = df_p2019c['Total_food_insecure'] /df_p2019c['county_pop_2019']
df_p2019c['%lunch_aid'] = df_p2019c['Total_lunch_aid'] /df_p2019c['receive_lunch_aid2019']
df_p2019c['%some_college'] = df_p2019c['Total_some_college'] /df_p2019c['Pop_25_44_2019']

In [ ]:
d2018 = {'county_name': ['New York','Kings','Bronx','Richmond','Queens'],
         'Year':[2018,2018,2018,2018,2018],
         'Pop_25_44_2018': [597226,411292,834877,124205,679580],
         'county_pop_2018': [1628701,2582830,1432132,476179,2278906],
         'receive_lunch_aid2018':[110472, 238173,187293,34905,204916]}
df_pop2018 = pd.DataFrame(data=d2018)
df_p2018c = pd.merge(df_pop2018, NYCrank, on=['county_name','Year'])


df_p2018c['Total_some_college'] = df_p2018c['%some_college']*df_p2018c['Pop_25_44_2018']/100
df_p2018c['Total_food_insecure'] = df_p2018c['%food_insecure']*df_p2018c['county_pop_2018']/100
df_p2018c['Total_lunch_aid'] = df_p2018c['%lunch_aid']*df_p2018c['receive_lunch_aid2018']/100
df_p2018c = df_p2018c.iloc[: , [2,3,4,7,10,11,12,13]]
df_p2018c.loc['Total2018']= df_p2018c.sum()
df_p2018c['county_name'] = "New York City"
df_p2018c['Year'] = 2018
df_p2018c.reset_index()
df_p2018c = df_p2018c.drop(labels=[0,1,2,3,4], axis=0)

df_p2018c['%food_insecure'] = df_p2018c['Total_food_insecure'] /df_p2018c['county_pop_2018']*100
df_p2018c['%lunch_aid'] = df_p2018c['Total_lunch_aid'] /df_p2018c['receive_lunch_aid2018']*100
df_p2018c['%some_college'] = df_p2018c['Total_some_college'] /df_p2018c['Pop_25_44_2018']*100

In [ ]:
df_nyc = pd.concat([df_p2018c, df_p2019c]).reset_index()
df_nyc = df_nyc.iloc[: , [9,10,11,12,13,4,5]]
df_nyc['graduation_rate'] = 'NaN'
df_nyc = df_nyc.iloc[: , [0,1,2,3,5,7,4,6]]

In [ ]:
#sort by year and county, name, reset index
df_rank_combine = df_rank_combine.sort_values(['Year','county_name'],ascending = (True,True))

#reset index and drop existing index
df_rank_combine = df_rank_combine.reset_index(drop=True)

#remove the NYC counties
df_rank_final = df_rank_combine.drop(labels=[2,23,30,40,42,64,85,92,102,104], axis=0)


#merge on county_name and Year
df_final2 = pd.concat([df_rank_final, df_nyc]).reset_index()


#sort by year and county, name, reset index
df_final2 = df_final2.sort_values(['Year','county_name'],ascending = (True,True))

#reset index and drop existing index
df_final2 = df_final2.reset_index(drop=True)
df_final2.drop('index', axis=1, inplace=True) #--->(124,10) dataframe (2 years x 58 NYcounties=124)

#Combine Finacail aid and rank data, merge on county_name and Year
df_final = pd.merge(df_copy2019, df_final2, on=['county_name','Year'])

#sort by year and county, name, reset index
df_final = df_final.sort_values(['Year','county_name'],ascending = (True,True))

#reset index and drop existing index
df_final = df_final.reset_index(drop=True)

In [ ]:
df_final.info() #(116,8)----->#58counties X 2 years

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   county_name            116 non-null    object
 1   Beginning Fiscal Year  116 non-null    datetime64[ns]
 2   Amount of Aid          116 non-null    float64
 3   Year                   116 non-null    int64
 4   %food_insecure         116 non-null    float64
 5   %lunch_aid             116 non-null    float64
 6   graduation_cohort      116 non-null    float64
 7   graduation_rate        116 non-null    object
 8   %some_college          116 non-null    float64
 9   household_income       116 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 9.2+ KB

In [ ]:
df_final.head(5)

   county_name Beginning Fiscal Year  ...  %some_college  household_income
0       Albany            2018-01-01  ...      76.604723           65659.0
1     Allegany            2018-01-01  ...      59.542065           46491.0
2       Broome            2018-01-01  ...      66.510187           47910.0
3  Cattaraugus            2018-01-01  ...      55.056312           47875.0
4       Cayuga            2018-01-01  ...      60.276255           55460.0

[5 rows x 10 columns]

df_copy has your original data. 
df_copy2019 has your original data with beginning year 2018 and 2019 only. 
df_final has your data and Laurynes combined but only for 2018/2019. Her NYC countines (Kings, Queens, New York, Bronx and Richmond) were combined to be able to merge with your data. The data use is buried in one of the cells above for reference.

The years are 2018 and 2019. Consider labeling 2018/2019 and 2019/2020. 
Data is limited for 2020 so I wouldn't discuss the COVID angle (covid quarantine started ~3/2020) since the data timeframe does not capture this time period. Can comment on seeing the "beginning" of a relationship but need more data.
As we discussed focus on financial aid/food insecurity and FA/education:
1)show line graphof FA to show trends over many years as an inrroduction but focus on 2018 and 2019.
2)barplots to show distribtjin of FA over time
3)check correlations. if see signal graph. 
4) Can seperate out 'New York City' data and analyze seperately.
5)graph FA vs household income to see if the money is going where needed.
6) graph amount of Aid vs %food insecure
7)graph amount of Aid vs %lunch aid
8) FA vs graduation rate
9) %food_insecure vs household income or 
10) any other graphs you think woud be interesting

In [ ]:
#prints list of number of times element appears in column
#df_countynum = df.groupby('County').size().reset_index(name='count')
#print (df_countynum)

#temporaly display 999 rows
#with pd.option_context('display.max_rows', 999):
#    print (df_new2)

#county_list = df['County'].nunique() #----->58
#county_list = df['County'].unique() #---->numpy.ndarray
#county_list = df['County'].unique().tolist #---->builtin_function_or_method
#county_list = pd.Series(df['County'].unique()) #---->pandas.core.series.Series
#type(county_list4)

In [ ]:
 #display 10 rows
pd.set_option('display.max_rows', df.shape[0]+1)

In [ ]:
#remove commas from amount of aid column
df['Amount of Aid'] = df[' Amount of Aid '].str.replace(',','')
#convert amount of aid to float
df['Amount of Aid'] = df['Amount of Aid'].astype(float)
#get rid of ' amount of aid ' column
df.drop([' Amount of Aid '], axis=1, inplace=True)

In [ ]:
#change years from int to str/object
df['Beginning Fiscal Year'] = df['Beginning Fiscal Year'].astype('str')
df['Ending Fiscal Year'] = df['Ending Fiscal Year'].astype('str')

In [ ]:
df

In [ ]:
#starting at 2011
df_starting_2011 = df
df_starting_2011 = df_starting_2011.drop(df.index[range(6154)])
df_starting_2011

In [ ]:
#starting at 2017
df_starting_2017 = df
df_starting_2017 = df_starting_2017.drop(df.index[range(10233)])
df_starting_2017

In [ ]:
#starting at 2018
df_starting_2018 = df
df_starting_2018 = df_starting_2018.drop(df.index[range(10912)])
#2018-2019
df_2018_to_2019 = df_starting_2018.drop(df_starting_2018.index[-681:])
df_2018_to_2019

In [ ]:
#2019-2020
df_2019_to_2020 = df
df_2019_to_2020 = df_2019_to_2020.drop(df.index[range(11591)])
df_2019_to_2020

In [ ]:
#2018-2020 for tableau
df_starting_2018 = df
df_starting_2018 = df_starting_2018.drop(df.index[range(10912)])
df_starting_2018

In [ ]:
from google.colab import files

df_starting_2011.to_csv('df_starting_2011.csv')
files.download('df_starting_2011.csv')

In [ ]:
from google.colab import files

df_starting_2017.to_csv('df_starting_2017.csv')
files.download('df_starting_2017.csv')

In [ ]:
from google.colab import files

df_starting_2018.to_csv('df_starting_2018.csv')
files.download('df_starting_2018.csv')

In [ ]:
#Export/download df_2018_to_2019 dataframe as csv file
from google.colab import files

df_2018_to_2019.to_csv('df_2018_to_2019.csv')
files.download('df_2018_to_2019.csv')

In [ ]:
#Export/download df_2019_to_2020 dataframe as csv file
from google.colab import files

df_2019_to_2020.to_csv('df_2019_to_2020.csv')
files.download('df_2019_to_2020.csv')

In [ ]:
from google.colab import files

df_final.to_csv('df_final.csv')
files.download('df_final.csv')

# Lauryne's data sets

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving rank2019.csv to rank2019.csv

In [ ]:
df_rank_2019 = pd.read_csv("rank2019.csv")
df_rank_2019

     fips     state  county_name  ...  %pacific_islander  %hispanic     %white
0   36087  New York     Rockland  ...           0.135921  17.967391  62.692022
1   36059  New York       Nassau  ...           0.095362  17.150610  59.851451
2   36119  New York  Westchester  ...           0.126805  24.863197  53.383545
3   36091  New York     Saratoga  ...           0.050899   3.230971  90.299692
4   36061  New York     New York  ...           0.182432  26.130531  46.677563
..    ...       ...          ...  ...                ...        ...        ...
57  36063  New York      Niagara  ...           0.041168   2.946131  85.537648
58  36013  New York   Chautauqua  ...           0.050370   7.566294  87.382794
59  36009  New York  Cattaraugus  ...           0.031029   2.089259  90.498785
60  36105  New York     Sullivan  ...           0.079486  16.195271  71.826191
61  36005  New York        Bronx  ...           0.413347  56.158134   9.228772

[62 rows x 26 columns]

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving rank2020.csv to rank2020.csv

In [ ]:
df_rank_2020 = pd.read_csv("rank2020.csv")
df_rank_2020

     fips     state  county_name  ...  %pacific_islander  %hispanic     %white
0   36001  New York       Albany  ...           0.067401   6.100932  71.807487
1   36003  New York     Allegany  ...           0.040922   1.677795  94.294637
2   36005  New York        Bronx  ...           0.414766  56.365475   9.130723
3   36007  New York       Broome  ...           0.066785   4.341565  82.996885
4   36009  New York  Cattaraugus  ...           0.037741   2.123894  90.393024
..    ...       ...          ...  ...                ...        ...        ...
57  36115  New York   Washington  ...           0.034315   2.849813  92.297008
58  36117  New York        Wayne  ...           0.041082   4.473486  89.829455
59  36119  New York  Westchester  ...           0.132284  25.140346  53.088118
60  36121  New York      Wyoming  ...           0.029936   3.260571  89.901459
61  36123  New York        Yates  ...           0.020128   2.310696  94.730486

[62 rows x 26 columns]

#EDA

In [ ]:
df_2018_to_2019.info()

In [ ]:
df_2019_to_2020.info()

In [ ]:
df_2018_to_2019.describe() #put year as a string or object or datetime

In [ ]:
df_2019_to_2020.describe()

In [ ]:
x = df_2018_to_2019['County']
y = df_2018_to_2019['Amount of Aid']

fig = plt.figure(figsize = (25, 10))

plt.bar(x, y, color ='maroon',
        width = 2)
 
plt.xlabel("County")
plt.ylabel("Amount of Aid")
plt.title("Amount of Aid per County from 2018-2019")
plt.show()

In [ ]:
x = df_2019_to_2020['County']
y = df_2019_to_2020['Amount of Aid']

fig = plt.figure(figsize = (25, 10))

plt.bar(x, y, color ='maroon',
        width = 2)
 
plt.xlabel("County")
plt.ylabel("Amount of Aid")
plt.title("Amount of Aid per County from 2019-2020")
plt.show()

In [ ]:
a = df_2018_to_2019['Amount of Aid']
y = df_2019_to_2020['Amount of Aid']

fig = plt.figure(figsize = (25, 10))

plt.bar(x, y, color ='maroon',
        width = 2)
 
plt.xlabel("County")
plt.ylabel("Amount of Aid")
plt.title("Amount of Aid per County from 2019-2020")
plt.show()

In [ ]:
sns.boxplot(x = df["Beginning Fiscal Year"], y= df["Amount of Aid"], data = df)
plt.title("Amount of Aid at Beginning Fiscal Year")
plt.figure(figsize = (20, 10))

In [ ]:
import pingouin